*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 12.5vh;
    background-color: white;
    font-family: 'Cagliostro', sans-serif;
}

.name{
    color: rgb(81, 0, 231);
    letter-spacing: 0px;
    font-size: 30px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: black;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 17px;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 20px;
    height: 2px;
    background-color: black;
    margin: 5px;
    transition: all 0.3s ease;
}

.nav-marking{
    height: 1px;
    border-width: 0;
    color: gray;
    background-color: gray;
}

@media screen and (max-width: 1150px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        top: 12.5vh;
        height: 92vh;
        background-color: whitesmoke;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 75%;
        transform: translateX(100%);
        transition: transform 0.75s ease-in;

    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
    .burgerBox {
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
    
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 5px);
  }
  
.toggle .line2 {
    opacity: 0;
}
  
.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -5px);
  }