*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.nav{
    display: flex;
    justify-content: space-around;
    font-family: 'Cagliostro', sans-serif;
    align-items: center;
    min-height: 12.5vh;
    background-color: white;
    z-index: 99999;
}

.name{
    flex: 1;
    text-align: left;
    color: rgb(81, 0, 231);
    padding: 20px 40px;
    letter-spacing: 0px;
    font-size: 35px;
    font-weight: 100;
    width: 100%;
    position: relative;
}

.nav-links{
    justify-content: space-around;
    flex: 0;
    text-align: right;
    width: 50%;
    z-index: 99999;
}

.nav-links th{
    padding: 20px 15px;
    font-weight: bold;
    z-index: 99999;
}

.nav-links a{
    color: black;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 18px;
    z-index: 99999;
}

.burger{
    flex: 0;
    text-align: right;
    padding: 20px 40px;
    display: none;
    cursor: pointer;
    z-index: 99999;
}

.burger div{
    width: 20px;
    height: 2px;
    background-color: black;
    margin: 5px;
    transition: all 0.3s ease;
    z-index: 99999;
}

.nav-marking{
    height: 1px;
    border-width: 0;
    color: gray;
    background-color: gray;
    z-index: 99999;
}

.sig{
    cursor: pointer;
    width: 100px;
    height: 40px;
    border: 0;
    outline: none;
    color:white;
    background: rgb(81, 0, 231);
    font-family: 'Cagliostro', sans-serif;
    font-size: 17px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
}

.sig:hover{
    background: linear-gradient(to bottom right, rgb(123, 66, 230), #ff6299);
    transition: all 100s ease-in;
}

.log{
    cursor: pointer;
    width: 100px;
    height: 40px;
    border: 0;
    outline: none;
    color:white;
    background: rgb(81, 0, 231);
    font-family: 'Cagliostro', sans-serif;
    font-size: 17px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
}

.log:hover{
    background: linear-gradient(to bottom right, rgb(123, 66, 230), #ff6299);
}

.popup-log{
    background: linear-gradient(to bottom right, white, rgba(254, 255, 200, 0.945), white);
    font-family: "Raleway", sans-serif;
    position: absolute;
    top: 150%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.25);
    width: 380px;
    padding: 20px 30px;
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.25);
    border-radius: 10px;
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
}

.img-container{
    display: flex;
    padding: 20px 30px;
    align-content: flex-end;
    opacity: 1;
}

@media screen and (max-width: 400px){
    .popup-log{
        width: 320px;
        height: 350px;
    }
}

.active.popup-log{
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
                
}

.active.nav, .active.img{
    filter: blur(2px);
}

.popup-log .close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: #888;
    color: #eee;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}

.popup-log .form h2{
    text-align: center;
    color: #222;
    margin: 10px 0px 20px;
    font-size: 25px;
}

.popup-log .form .form-element{
    margin: 15px 0px;
}

.popup-log .form .form-element label{
    font-size: 14px;
    color: #222;
}

.popup-log .form .form-element input[type="text"],
.popup-log .form .form-element input[type="password"]{
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 10px;
}

.popup-log .form .form-element button{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 16px;
    background: rgb(81, 0, 231);
    color: #eee;
    border-radius: 10px;
    cursor: pointer;
}

.popup-log .form .form-element a{
    display: block;
    text-align: right;
    font-size: 15px;
    color: #1a79ca;
    text-decoration: none;
    font-weight: 600;
}


@media screen and (max-width: 1100px){
    body{
        overflow-x: hidden;
    }
    .name{
        text-align: center;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        top: 12.5vh;
        height: 87vh;
        background-color: whitesmoke;
        display: flex;
        align-items: center;
        width: 75%;
        transform: translateX(100%);
        transition: transform 0.75s ease-in;
    }
    .nav-links th{
        opacity: 0;
        border: 0px;
        position:relative;
        float:left;
        clear:both;
        width:100%;
        height: 95px;
        text-align: center;
    }
    .burger{
        display: block;
    }
    .burgerBox {
        display: block;
    }
    .banner video{
        display: none;
    }
    .img-container{
        opacity: 0;
    }
}

@media screen and (min-width: 1100px){
    .banner video{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 1;
    }
    
    .banner h4{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        mix-blend-mode: screen;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
    
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 5px);
  }
  
.toggle .line2 {
    opacity: 0;
}
  
.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -5px);
  }
